[submodule "deps/CosyVoice"]
	path = deps/CosyVoice
	url = https://github.com/FunAudioLLM/CosyVoice.git
[submodule "deps/fish-speech"]
	path = deps/fish-speech
	url = https://github.com/scwf/fish-speech.git
[submodule "deps/index-tts"]
	path = deps/index-tts
	url = https://github.com/index-tts/index-tts.git
